<!DOCTYPE html>
<html lang="en">
    <head>
        <meta charset="utf-8">
        <title>Watchlist_400</title>
        <link rel="icon" href="{{url_for('static',filename='image/icon.jpg')}}">
        <link rel="stylesheet" href="{{url_for('static',filename='css/style.css')}}">

    </head>

    <body>
            
        <h2>The server does not understand the request syntax.</h2>
        <br>
        <small>怎么做到的</small>
        <br>

        <span>
            <a href="{{ url_for('index') }}">Go Back</a>
        </span>

    </body>

    <footer>
        <small>&copy; 2024 
            <a href="https://xiaoz616.github.io/My-Website/FirstWeb.html">
                <abbr title="Author of this page">Bin Chou</abbr>
            </a>
        </small>
    </footer>
</html>