<!DOCTYPE html>
<html lang="en">
    <head>
        <meta charset="utf-8">
        <title>Watchlist_404</title>
        <link rel="icon" href="{{url_for('static',filename='image/icon.jpg')}}">
        <link rel="stylesheet" href="{{url_for('static',filename='css/style.css')}}">

    </head>

    <body>

        <h2>Page Not Found - 404</h2>
        <br>

        <span class="float-right">
            <a href="{{ url_for('index') }}">Go Back</a>
        </span>

    </body>


    <footer>
        <small>&copy; 2024 
            <a href="https://xiaoz616.github.io/My-Website/FirstWeb.html">
                <abbr title="Author of this page">Bin Chou</abbr>
            </a>
        </small>
    </footer>

</html>